<!DOCTYPE html>
<div id="Smart_Menu_Bar" class="custom-dropdown dropdown-walkthrough" style="top:35px; left:127px; width:167px; z-index: 12000;">
  <div class="selected-option">Agent Level</div>
  <div class="dropdown-options" style="z-index: 12001;">
    <div data-value="bronze">Bronze</div>
   <!-- <div data-value="silver">Silver</div>
    <div data-value="gold">Gold</div> -->
  </div>
</div>
	
<div id="scenario_Selector" class="custom-dropdown dropdown-scenario" style="top:100px; left:216px; ">
  <div class="selected-option">Contract Account</div>
  <div class="dropdown-options" style= "z-index: 13001;"></div>
    <!-- Scenario options will be added by JS -->
</div>

<input class="input-field" id="contract_Account" style="top:129px; left:217px; height:16px; width:154px" title="Partner" readonly>
<div id="full_address" class="custom-dropdown dropdown-fulladdress" style="top:153px; left:217px; width:237px; height:21px; z-index:13000;">
  <div class="selected-option" style="width:237px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;"></div>
  <div class="dropdown-options" style="position:absolute;"></div>
</div>
<div id="elecOrGas"
     class="custom-dropdown dropdown-fuel input-field">
  <div class="selected-option"></div>
  <div class="dropdown-options"></div>
</div>

<input class="input-field underline-field" id="BPID" style="top:264px; left:265px; height:16px; width:122px" title="Business Partner" readonly>
<input class="input-field" value="Person" style="top:291px; left:265px; height:16px; width:122px" title="Partner Type" readonly>
<input class="input-field" id="full_Name" style="top:316px; left:265px; height:16px; width:122px" title="Full Name" readonly>
<input class="input-field underline-field duplicate-field" data-field="contract_Account" value="" style="top:345px; left:265px; height:16px; width:122px;" title="Contract Account" readonly>
<input class="input-field underline-field" id="contract" style="top:372px; left:265px; height:16px; width:122px" title="Contract" readonly>
<input class="input-field" id="contract_Start" style="top:399px; left:265px; height:16px; width:122px" title="Contract Start Date" readonly>
<input class="input-field" id="operating_Mode" style="top:426px; left:265px; height:16px; width:122px" title="Operating Mode" readonly>
<input class="input-field" id="payment_Plan" style="top:453px; left:265px; height:16px; width:122px" title="Payment Plan" readonly>
<input class="input-field" id="read_Retrieval" style="top:480px; left:265px; height:16px; width:122px" title="Read Retrieval Consent" readonly>
<input class="input-field" id="last_Comm" style="top:507px; left:265px; height:16px; width:80px" title="Last Communication Date" readonly>
<input class="input-field" id="last_Comm_Time" style="top:507px; left:355px; height:16px; width:60px" title="Last Communication Date" readonly>
<input class="input-field underline-field" id="pod" style="top:588px; left:265px; height:16px; width:138px" title="POD" readonly>
<input class="input-field underline-field" id="device_Guid" style="top:615px; left:265px; height:16px; width:201px" title="Device GUID" readonly>
<input class="input-field underline-field" id="meter_Serial" style="top:642px; left:265px; height:16px; width:138px" title="Meter Serial Number" readonly>
<input class="input-field" id="device_Start" style="top:669px; left:265px; height:16px; width:82px" title="Device Start" readonly>
<input class="input-field" id="device_End" style="top:696px; left:265px; height:16px; width:82px" title="Device End" readonly>
<input class="input-field" id="SMSO_ID" style="top:724px; left:265px; height:16px; width:138px" title="SMSO ID" readonly>
<input class="input-field" id="firmware_Version" style="top:780px; left:265px; height:16px; width:138px" title="Firmware Version" readonly>
<input class="input-field" value="S2" style="top:750px; left:265px; height:16px; width:138px" title="SMETS Version" readonly>
<input class="input-field" id="device_Status" style="top:804px; left:265px; height:16px; width:218px" title="Device Status" readonly>
<input class="input-field" id="device_Location" style="top:832px; left:265px; height:16px; width:218px" title="Device Location" readonly>
<input class="input-field" id="smets1_DCC" style="top:860px; left:265px; height:16px; width:56px" title="Smets1-DCC" readonly>
	
	<!-- Other Smart Devices -->
	
<input class="input-field" id="OSD_COMMS_HUB" style="top:980px; left:265px; height:16px; width:182px" title="COMMS HUB" readonly>
<input class="input-field" id="OSD_PPMID" style="top:1006px; left:265px; height:16px; width:182px" title="COMMS HUB" readonly>


