
<!-- Smart Messages Date -->
<input class="input-field" id="Smart_Messages_Date"
  style="top: 152px; left: 780px; height:18px; width:75px; background: transparent; z-index: 10000;"
  title="Smart Messages Date" readonly>

<!-- Layer 1 -->
<input class="input-field" id="MI_Date_Time_1"
  style="top: 286px; left: 580px; height:24px; width:202px; background: transparent; z-index: 10000;"
  title="Date & Time" readonly>
<input class="input-field" id="MI_Category_1"
  style="top: 286px; left: 794px; height:24px; width:155px; background: transparent; z-index: 10000;"
  title="Category" readonly>
<input class="input-field" id="Esc_to_SAP_1"
  style="top: 286px; left: 960px; height:24px; width:130px; background: transparent; z-index: 10000;"
  title="Escalated to SAP" readonly>
<input class="input-field" id="MI_Status_1"
  style="top: 286px; left: 1103px; height:24px; width:158px; background: transparent; z-index: 10000;"
  title="Status" readonly>
<input class="input-field" id="Smart_Mess_Descr_1"
  style="top: 286px; left: 1271px; height:24px; width:195px; background: transparent; z-index: 10000;"
  title="Description" readonly>

<!-- Layer 2 -->
<input class="input-field" id="MI_Date_Time_2"
  style="top: 314px; left: 580px; height:24px; width:202px; background: transparent; z-index: 10000;"
  title="Date & Time" readonly>
<input class="input-field" id="MI_Category_2"
  style="top: 314px; left: 794px; height:24px; width:155px; background: transparent; z-index: 10000;"
  title="Category" readonly>
<input class="input-field" id="Esc_to_SAP_2"
  style="top: 314px; left: 960px; height:24px; width:130px; background: transparent; z-index: 10000;"
  title="Escalated to SAP" readonly>
<input class="input-field" id="MI_Status_2"
  style="top: 314px; left: 1103px; height:24px; width:158px; background: transparent; z-index: 10000;"
  title="Status" readonly>
<input class="input-field" id="Smart_Mess_Descr_2"
  style="top: 314px; left: 1271px; height:24px; width:195px; background: transparent; z-index: 10000;"
  title="Description" readonly>

<!-- Layer 3 -->
<input class="input-field" id="MI_Date_Time_3"
  style="top: 342px; left: 580px; height:24px; width:202px; background: transparent; z-index: 10000;"
  title="Date & Time" readonly>
<input class="input-field" id="MI_Category_3"
  style="top: 342px; left: 794px; height:24px; width:155px; background: transparent; z-index: 10000;"
  title="Category" readonly>
<input class="input-field" id="Esc_to_SAP_3"
  style="top: 342px; left: 960px; height:24px; width:130px; background: transparent; z-index: 10000;"
  title="Escalated to SAP" readonly>
<input class="input-field" id="MI_Status_3"
  style="top: 342px; left: 1103px; height:24px; width:158px; background: transparent; z-index: 10000;"
  title="Status" readonly>
<input class="input-field" id="Smart_Mess_Descr_3"
  style="top: 342px; left: 1271px; height:24px; width:195px; background: transparent; z-index: 10000;"
  title="Description" readonly>
